doctype
html(lang='en')
    head
        meta(charset='utf-8')
        meta(charset='utf-8')
        title Color Admin | Page Blank
        meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no', name='viewport')
        meta(content='', name='description')
        meta(content='', name='author')
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700")
        link(rel="stylesheet", href="@css/corporate/vendor.css")
        link(rel="stylesheet", href="@css/corporate/app.min.css")
        block css
    body
        #page-loader.fade.show
            span.spinner
        #page-container
            .header.header-float
                .container.d-flex
                    .header-logo
                        a.logo-link(href='index.html')
                            span.logo
                            b ColorBapa
                            |  
                            small CORPORATE
                    .header-nav
                        .container
                            .header-nav-item
                                a.header-nav-link(href='/siapa-kami') Who We Are
                            .header-nav-item
                                a.header-nav-link(href='#') Our Products
                            .header-nav-item
                                a.header-nav-link(href='#') Newsroom
                            .header-nav-item
                                a.header-nav-link(href='#') Our Careers
                            .header-nav-item
                                a.header-nav-link(href='#') Contact Us
                    .header-btn
                        a.btn.btn-primary.fw-bold.rounded-pill(href='#')
                            | Get started 
                            i.fa.fa-arrow-right.ms-1.opacity-5
                    button.header-mobile-nav-toggler(type='button', data-toggle='header-mobile-nav')
                        span.header-mobile-nav-toggler-icon
            #content 
                block content
            .footer
                .container
                    .row.gx-5
                        .col-lg-3.mb-4.mb-lg-0
                            .footer-logo
                                span.footer-logo-text
                                    | ColorAdmin 
                                    small CORPORATE
                            p.footer-desc
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in orci felis. Phasellus id urna nunc. Nulla sed nibh at libero tincidunt scelerisque sed porttitor lectus.
                            h4.footer-title Follow Us
                            .footer-media-list
                                a.me-1(href='#')
                                i.fab.fa-lg.fa-facebook.fa-fw
                                a.me-2(href='#')
                                i.fab.fa-lg.fa-instagram.fa-fw
                                a.me-2(href='#')
                                i.fab.fa-lg.fa-twitter.fa-fw
                                a.me-2(href='#')
                                i.fab.fa-lg.fa-youtube.fa-fw
                                a.me-2(href='#')
                                i.fab.fa-lg.fa-linkedin.fa-fw
                        .col-lg-3.mb-4.mb-lg-0
                            h4.footer-title Company
                            ul.footer-link-list
                                li
                                a(href='#') Newsroom
                                li
                                a(href='#') Company Info
                                li
                                a(href='#') Careers
                                li
                                a(href='#') For Investors
                                li
                                a(href='#') Brand Resources
                            hr.my-4.text-gray-600
                            h4.footer-title Policies
                            ul.footer-link-list
                                li
                                a(href='#') Community Standards
                                li
                                a(href='#') Data Policy
                                li
                                a(href='#') Cookie Policy
                                li
                                a(href='#') Terms of Service
                        .col-lg-3.mb-4.mb-lg-0
                            h4.footer-title Our Store
                            ul.footer-link-list
                                li
                                a(href='#') Shop Online
                                li
                                a(href='#') Store App
                                li
                                a(href='#') Recycling Programme
                                li
                                a(href='#') Order Status
                                li
                                a(href='#') Shopping Help
                        .col-lg-3.mb-4.mb-lg-0
                            h4.footer-title Help Center
                            ul.footer-link-list
                                li
                                a(href='#') Contact Form
                                li
                                a(href='#') Live Chat Support
                                li
                                a(href='#') Portal Help Center
                    .footer-copyright
                        .row
                            .col-lg-6.text-center.text-lg-start.mb-3.mb-lg-0
                                .footer-copyright-text &copy; 2016 - 2021 Color Admin All Rights Reserved
                            .col-lg-6.text-center.text-lg-end
                                span.dropdown.me-4
                                a.footer-copyright-link.dropdown-toggle(href='#', data-bs-toggle='dropdown') United States (English)
                                ul.dropdown-menu
                                    li
                                    a.dropdown-item(href='#') United States (English)
                                    li
                                    a.dropdown-item(href='#') China (&#x7B80;&#x4F53;&#x4E2D;&#x6587;)
                                    li
                                    a.dropdown-item(href='#') Brazil (Portugu&ecirc;s)
                                    li
                                    a.dropdown-item(href='#') Germany (Deutsch)
                                    li
                                    a.dropdown-item(href='#') France (Fran&ccedil;ais)
                                    li
                                    a.dropdown-item(href='#') Japan (&#x65E5;&#x672C;&#x8A9E;)
                                    li
                                    a.dropdown-item(href='#') Korea (&#xD55C;&#xAD6D;&#xC5B4;)
                                    li
                                    a.dropdown-item(href='#') Latin America (Espa&ntilde;ol)
                                    li
                                    a.dropdown-item(href='#') Spain (Espa&ntilde;ol)
                                a.footer-copyright-link(href='#') Sitemap

        script(src="@js/corporate/vendor.min.js") 
        script(src="@js/corporate/app.min.js")
        block js