extend ../parsial/template.pug
block content 
    .section.section-hero
        .section-bg.with-cover(style='background-image: url(/img/corporate/img-2.jpg);')
            .section-bg.bg-gray-800-transparent-5
            .container.position-relative
                .section-hero-content
                    .row
                        .col-lg-8.col-lg-10
                            h1.hero-title.mb-3.mt-5.pt-md-5
                                | Siapa lu jing 
                            .fs-18px.text-white-transparent-8
                                | "I'd rather be hated for who I am than loved for who I am not."
                                br
                                small 
                                    | Saya lebih suka dibenci karena menjadi diri sendiri daripada dicintai karena menjadi seseorang yang bukan diri saya.
                            .row.text-white.mt-4.mb-5.pb-5
                                .col-lg-4.mb-3.mb-lg-0
                                    .d-flex.align-items-center
                                        .h1.text-white-transparent-3.me-3
                                            i.bi.bi-download
                                        div
                                            .fw-bold.mb-1.h3 9k+
                                            .fw-bold.text-white-transparent-8 Downloads / Purchases
                                .col-lg-4
                                    .d-flex.align-items-center
                                        .h1.text-white-transparent-3.me-3
                                            i.bi.bi-bootstrap
                                        div
                                            .fw-bold.mb-1.h3 5.0
                                            .fw-bold.text-white-transparent-8 Bootstrap Version
                            a.hero-btn.fw-bold.mb-n5(href='#')
                                i.fa.fa-arrow-right 
                                |Learn About Our Company